body
{
    background: #424242;
}

.bg-AV-blue
{
    background-color: #2316e6;
}

.bg-AV-green
{
    background-color: #2e9200;
}

.bg-AV-orange
{
    background-color: #ffae00;
}

.bg-AV-grey
{
    background-color: #5e5e5e;
}

.color-AV-orange
{
    color: #ffae00;
}

.color-AV-green
{
    color: #2e9200;
}

.color-AV-blue
{
    color: #2316e6;
}

.color-AV-black
{
    color: #000000;
}

#header
{
    text-align: center;
    margin-top: 20px;
    background-color: #2e9200;
    color: #000000;
}

#footer
{
    text-align: center;
    padding-bottom: 10px;
    margin: 20px 0px;
    background-color: #2e9200;
    color: #000000;
}

#cover
{
    background-color: grey; 
    opacity: .9; 
    position: fixed; 
    top: 0px; 
    left: 0px;
    width: 100%;
    height: 100%;
}

#hideCover
{
    background-color: #2316e6;
    color: white;
    width: 20%;
    position: absolute;
    top: 0px;
    left: 80%;
}

#credits
{
    margin: 20px 0px 0px 10px;
}

#info
{
    margin: 20px 10px 0px 0px;
}

#login, #match
{
    margin-top: 20px;
}

p
{
    text-indent: 30px;
}

#info, #credits, #footer, #header, #login, #match
{
    border: #555555 4px solid;
    padding: 10px 10px 0px 10px;
}

.objectBorder
{
    border: #555555 4px solid;
    padding: 10px 10px 0px 10px;
}

h3, h5
{
    text-align: center;
    margin-bottom: 10px;
    color: #000000;
}

h5
{
    text-decoration: underline;
}

button
{
    text-align: center;
    width: 100%;
    padding: 5px;
    margin: 5px 0px;
    background-color: #ffae00;
    color: #000000;
}

.m-bottom-margin
{
    margin-bottom: 20px;
}

.textLeftAlign
{
    text-align: left;
}

.nav-item
{
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
}

.navbar-primary .navbar-toggler-icon 
{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(81,0,134, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.navbar-primary .navbar-toggler 
{
    border-color: #5e5e5e; 
    width: 56px;
} 

.navbar-nav .nav-link.active, .nav-link
{
    color: #0d6efd;
}

.center
{
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
}

.center-full
{
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.sLink
{
    text-decoration: none;
    margin-left: -25px;
}

.hide
{
    display: none;
}

.selected
{
    border: solid lightseagreen 3px;
}

.block
{
    display: block;
}

.gridButton
{
    display: inline;
    width: 23%;
    margin-left: auto;
    margin-right: auto;
}

#helpBtn
{
    position: fixed;
    bottom: 3%;
    left: 3%;
}

.addImage
{
    display: block;
    width: 80%;
}

#match
{
    min-height: 80vh;
    position: relative;
}

.imgBtn
{
    width: auto;
    display: inline;
    margin: 10px;
}

.width
{
    width: 30%;
}

.twoOptions
{
    width: 25vh;
}

.threeOptions
{
    width: 15vh;
}

.fourOptions
{
    width: 15vh;
}

.overlap
{
    position: absolute;
    display: block;
}

#ball
{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 6%;
    min-width: 137px;
}

#sweetSpot
{
    width: 6%;
    min-width: 137px;
}

#ball:-webkit-drag
{
    position: relative;
    transform: none;
}

.hoop
{
    width: 33vh;
    min-width: 137px;
}

@media (max-width: 1399px) 
{
    .col-md-6
    {
        width: 49%;
    }

    .col-md-9
    {
        width: 73.2%;
    }

    #login h5
    {
        text-align: left;
        display: inline;
        margin: 5%;
    }

    #login span 
    {
        display: block;
        margin: 1% 0px;
    }
}

@media (max-width: 1199px) 
{
    .col-md-6
    {
        width: 48.9%;
    }

    .col-md-9
    {
        width: 72.8%;
    }
}

@media (max-width: 991px) 
{
    .col-md-6
    {
        width: 48.6%;
    }

    .col-md-9
    {
        width: 72.2%;
    }

    #helpBtn
    {
        position: fixed;
        bottom: 0%;
        left: 0%;
    }
}

@media (max-width: 767px) 
{
    .col-md-6  
    {
        width: 47.9%;
    }

    .col-md-9
    {
        width: 100%;
    }
}

@media (max-width: 574px) 
{
    .col-md-6  
    {
        width: 100%;
    }
}

@media (max-width: 574px) 
{
    #info, #credits
    {
        margin: 0px;
        margin-top: 20px;
    }
}
